* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: #273aaa;
  --lightblue: #d1ecef;
  --red: #fc4d5c;
  --pink: #f7c7d9;
  --beige: #fff5eb;
  --black: #1d1d1b;
}
h1 {
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--darkblue);
  font-size: 100px;
  text-align: center;
}
h2 {
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--darkblue);
  font-size: 62px;
  text-align: right;
  z-index: 10;
}
h3 {
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
.pigerne {
  max-width: 40%;
  grid-column: 1fr;
  grid-row: span 2;
}
.top {
  background-color: #fff;
  margin: 0px 50px 0px 50px;
}
.rød {
  padding: 10px;
  background-color: #fc4d5c;
  border-radius: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* toppen af siden


/* mobil

/* fatcs

/* 3 punkter */

.overskrift_bobler {
  text-align: center;
}

.bobler{
  margin-left: 13rem;
  margin-top: 4rem;
}

.funktioner{
  align-items: center;
  border: 40px solid;
  background-color: black;
}

.grid_1_1_1{
  color: #273aaa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  text-align: center;
  padding-left: 8rem;
  padding-right: 10rem;
}

/* hjælp/chat */

.overskrift_hjælp{
  text-align: center;
  margin-top: 4rem;
}

.brødtekst_hjælp{
  color: #273aaa;
  margin-top: 15rem;
  line-height: 2.5;
}

.chat_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20rem;
  padding-right: 20rem;
  margin-top: 6rem;
}


*footer 
