---

---
<nav>
    <img src="../logo.svg" alt="logo">
    <img src="../burgermenu" alt="menu">
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-content: baseline;
    }
</style>