---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <title>one_page</title>
  </head>
  <body>
    <header></header>
    <main>
      <!-- toppen -->
      <div class="top">
        <h1>GIRL TALK</h1>

        <h2>MED VIOLA & ANGI</h2>
        <img class="pigerne" src="../pigerne2.svg" alt="" />

        <h3>hør viola og angi's <br /> girltalks her :</h3>
      </div>

      <!-- mobil -->

      <!-- facts -->
      <div class="baggrund">
        <h2 class="facts">LET'S TALK FACTS!</h2>
        <div class="grid">
          <div class="pic1">
            <img class="numse" src="../numse1.svg" alt="" />
          </div>
          <div class="item1">
            <div class="ph3">
              <h3 class="usikker">PIGERS USIKKERHEDER</h3>
              <p class="p1">
                Mange piger er usikre angåender deres kroppe. Helt op til 39% er
                utilfredse med deres bryster og numse. i forhold til drenge
                tænker piger meget om deres kropsbehåring, og hvad man skal gøre
                ved det. her er hele 41% piger utilfredse med deres
                kropsbehåring.
              </p>
            </div>
          </div>
          <div class="item2">
            <div>
              <h3 class="seksu">Seksualitet</h3>
              <p class="p2">
                Unge piger og drenge er stort set lige seksuelt aktive og sender
                i lige høj grad nøgenbilleder af sig selv. De er dog underlagt
                forskellige normer om, hvordan de kan og bør bruge deres krop og
                seksualitet, både online og offline. De unge oplever således, at
                der er mere restriktive normer for, hvordan piger kan vise deres
                krop frem, og hvor mange de må dyrke sex med.
              </p>
              <div>
                <img class="køn" src="../køn.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="item3">
            <div>
              <h3 class="krop">Kropsidealer</h3>
              <p class="p3">
                En relativt høj andel (64 %.) af unge er utilfredse med deres
                krop. Piger er oftere utilfredse med deres krop og ønsker at
                tabe sig – også hvis de er normalvægtige.
              </p>
              <div>
                <img class="bikini" src="../bikini.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 3 punkter -->

      <!-- hjælp -->
    </main>
    <footer></footer>
  </body>
</html>
