---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <title>one_page</title>
  </head>
  <body>
    <header></header>
    <main>
      <!-- toppen -->
      <div class="top">
        <h1>GIRL TALK</h1>

        <h2>MED VIOLA & ANGI</h2>
        <img class="pigerne" src="../pigerne2.svg" alt="" />

        <h3>hør viola og angi's <br /> girltalks her :</h3>
      </div>

      <!-- mobil -->

      <!-- facts -->

      <!-- 3 punkter -->

      <section class="funktioner">
        <h2 class="overskrift_bobler">BLIV KLOGERE PÅ DIG SELV</h2>
        <div class="bobler">
          <img src="../boble_1.png" alt="CHAT" />
          <img src="../boble_2.png" alt="" />
          <img src="../boble_3.png" alt="" />
        </div>
        <div class="grid_1_1_1">
          <p> <strong>CHAT</strong></p>
          <p>VIDEN UNIVERS</p>
          <p>BREVKASSEN</p>
        </div>
      </section>

      <!-- hjælp -->

      <section>
        <h2 class="overskrift_hjælp">HAR DU BRUG FOR HJÆLP?</h2>
        <div class="chat_grid">
          <img src="../telefon.png" alt="" />
          <div class="brødtekst_hjælp">
            <p>
              <strong>
              Har du nogensinde følt ikke at have nogle at gå til med dine
              tanker? Du kan altid prøve at skrive ind til vores chat, som er
              åben for dig, som har noget på hjertet, men måske synes det svært
              at åbne op om. Vi er her for dig. </strong>
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
