---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <title>one_page</title>
  </head>
  <body>
    <header></header>

    <main>
      <!-- toppen -->
      <div class="top">
        <h1>GIRL TALK</h1>

        <header></header>

        <main>
          <!-- toppen -->
          <div class="top">
            <div class="image-container">
              <img class="pigerne" src="../top.png" alt="" />
              <a href="#" class="tiktok-link">
                <img
                  class="tiktok-icon"
                  src="../public/tiktok_icon.svg"
                  alt="TikTok Icon"
                />
              </a>
              <div class="text-overlay">
                <h1>GIRL TALK</h1>
                <h2>MED VIOLA & ANGI</h2>
              </div>
            </div>
          </div>

          <!-- mobil -->

          <!-- facts -->
          <div class="baggrund">
            <h2 class="facts">LET'S TALK FACTS!</h2>
            <div class="grid">
              <div class="pic1">
                <img class="numse" src="../numse1.svg" alt="" />
              </div>
              <div class="item1">
                <div class="ph3">
                  <h3 class="usikker">PIGERS USIKKERHEDER</h3>
                  <p class="p1">
                    Mange piger er usikre angåender deres kroppe. Helt op til
                    39% er utilfredse med deres bryster og numse. i forhold til
                    drenge tænker piger meget om deres kropsbehåring, og hvad
                    man skal gøre ved det. her er hele 41% piger utilfredse med
                    deres kropsbehåring.
                  </p>
                </div>
              </div>
              <div class="item2">
                <div>
                  <h3 class="seksu">Seksualitet</h3>
                  <p class="p2">
                    Unge piger og drenge er stort set lige seksuelt aktive og
                    sender i lige høj grad nøgenbilleder af sig selv. De er dog
                    underlagt forskellige normer om, hvordan de kan og bør bruge
                    deres krop og seksualitet, både online og offline. De unge
                    oplever således, at der er mere restriktive normer for,
                    hvordan piger kan vise deres krop frem, og hvor mange de må
                    dyrke sex med.
                  </p>
                  <div>
                    <img class="køn" src="../køn.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="item3">
                <div>
                  <h3 class="krop">Kropsidealer</h3>
                  <p class="p3">
                    En relativt høj andel (64 %.) af unge er utilfredse med
                    deres krop. Piger er oftere utilfredse med deres krop og
                    ønsker at tabe sig – også hvis de er normalvægtige.
                  </p>
                  <div>
                    <img class="bikini" src="../bikini.svg" alt="" />
                  </div>

                  <div class="scoll">
                    <div class="slid-1">
                      <div class="grid_1">
                        <div class="item-1">
                          <video src="../videoer/GirlTalk_Billeder.mov" controls
                          ></video>
                        </div>
                        <div class="item-2">
                          <strong><p>billeder</p></strong>
                          <p>
                            At sende billeder af hinanden rundt uden tilladelse
                            kan have alvorlige konsekvenser for de involverede
                            piger. Det kan føre til følelsesmæssig skade, tab af
                            tillid og endda mobning.
                          </p>
                          <p>
                            Når billeder først er delt på nettet, kan de være
                            svære at kontrollere eller fjerne, hvilket kan føre
                            til langvarige konsekvenser for pigernes omdømme og
                            trivsel.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="slid-2">
                      <div class="grid_1">
                        <div class="item-1">
                          <video src="../videoer/GirlTalk_Alkohol.mov" controls
                          ></video>
                        </div>
                        <div class="item-2">
                          <strong><p>Alkohol</p></strong>
                          <p>
                            Presset for at drikke alkohol kan komme fra
                            forskellige kilder, herunder venner, medier og
                            samfundet generelt. Det er vigtigt for unge piger at
                            huske, at de har ret til at sige nej til alkohol,
                            hvis de ikke er komfortable med at drikke.
                            <br /><br /> Det er også vigtigt at forstå, at det
                            ikke er nødvendigt at drikke alkohol for at have det
                            sjovt eller føle sig accepteret af venner.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="slid-3">
                      <div class="grid_1">
                        <div class="item-1">
                          <video src="../videoer/GirlTalk_ganser.mov" controls
                          ></video>
                        </div>
                        <div class="item-2">
                          <strong><p>Grænser</p></strong>
                          <p>
                            For de unge piger i 8. klasse, cirka 13-14 år, er
                            grænser afgørende for deres personlige udvikling og
                            velbefindende. At forstå og respektere deres egne
                            grænser og andres er en vigtig del af at opbygge et
                            sundt selvværd og sunde relationer.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="slid-4">
                      <div class="grid_1">
                        <div class="item-1">
                          <video
                            src="../videoer/GirlTalk_SocialeMedier.mov"
                            controls></video>
                        </div>
                        <div class="item-2">
                          <strong><p>Sociale Medier</p></strong>
                          <p>
                            Sociale medier har en betydelig indflydelse på unge
                            i 8. klasse, især piger i alderen 13-14 år. Disse
                            platforme, såsom Instagram, Snapchat og TikTok,
                            skaber et digitalt univers, hvor de unge kan dele
                            billeder, videoer og tanker med hinanden.
                          </p>

                          <p>
                            Desværre kan denne konstante tilstedeværelse på
                            sociale medier have både positive og negative
                            konsekvenser.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- 3 punkter -->
                   =======
                  <!-- facts -->

                  <!-- 3 punkter -->

                  <section class="funktioner">
                    <h2 class="overskrift_bobler">BLIV KLOGERE PÅ DIG SELV</h2>
                    <div class="bobler">
                      <img src="../boble_1.png" alt="CHAT" />
                      <img src="../boble_2.png" alt="" />
                      <img src="../boble_3.png" alt="" />
                    </div>
                    <div class="grid_1_1_1">
                      <p><strong>CHAT</strong></p>
                      <p>VIDEN UNIVERS</p>
                      <p>BREVKASSEN</p>
                    </div>
                  </section>

                  <!-- hjælp -->

                  <section>
                    <h2 class="overskrift_hjælp">HAR DU BRUG FOR HJÆLP?</h2>
                    <div class="chat_grid">
                      <img src="../telefon.png" alt="" />
                      <div class="brødtekst_hjælp">
                        <p>
                          <strong>
                            Har du nogensinde følt ikke at have nogle at gå til
                            med dine tanker? Du kan altid prøve at skrive ind
                            til vores chat, som er åben for dig, som har noget
                            på hjertet, men måske synes det svært at åbne op om.
                            Vi er her for dig.
                          </strong>
                        </p>
                      </div>
                    </div>
                  </section>
                   >>>>>>> 9deca9a1125146b0cd102d664d20d32159388724

                  <!-- hjælp -->
                </div>
                <footer>
                  <section class="grid_footer">
                    <div class="chat">
                      <h4>Chattens åbningstider:</h4>
                      <br />
                      <p>
                        Man - Tors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        18:30-24:00
                      </p>
                      <br />
                      <p>
                        Fre - Lør
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        19:00-23:00
                      </p>
                      <br />
                      <p>
                        Søndag
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        18:30-24:00
                      </p>
                    </div>
                    <div class="grid_fotter2">
                      <div class="for_unge">
                        <h4>For unge</h4>
                        <br />
                        <p>Lokal afdeling</p>
                        <br />
                        <p>Kontakt</p>
                        <br />
                        <p>FAQ til projektopgaver</p>
                      </div>
                      <div class="om">
                        <h4>Om Girltalk</h4>
                        <br />
                        <p>Nyheder</p>
                        <br />
                        <p>Bliv frivillig</p>
                        <br />
                        <p>Støt</p>
                        <br />
                        <p>Jobs</p>
                        <br />
                        <p>Privatlivspolitik</p>
                        <br />
                        <p>Cookiepolitik</p>
                      </div>

                      <div class="social-media">
                        <h4>Find Os Her</h4>
                        <br />
                        <br />
                        <div class="social-item">
                          <img src="../public/yt.webp" alt="YouTube Ikon" />
                          <p>Youtube</p>
                        </div>
                        <div class="social-item">
                          <img
                            src="../public/insta.webp"
                            alt="Instagram Ikon"
                          />
                          <p>Instagram</p>
                        </div>

                        <div class="social-item">
                          <img src="../public/tik.webp" alt="tiktok Ikon" />
                          <p>TikTok</p>
                        </div>
                        <div class="social-item">
                          <img src="../public/spy.webp" alt="spotify" />
                          <p>Spotify</p>
                        </div>
                        <div class="social-item">
                          <img src="../public/link.webp" alt="likedin" />
                          <p>LinkedIn</p>
                        </div>
                        <div class="social-item">
                          <img src="../public/face.webp" alt="Facebook" />
                          <p>Facebook</p>
                        </div>
                      </div>
                      <section class="grid_footer2">
                        <div class="sms">
                          <h4>Send os en SMS</h4>
                          <br />
                          <p>
                            Du kan altid sende en sms til os. Vi svarer i
                            chattens åbningstid
                          </p>
                          <br />
                          <p>Tlf: 30 14 53 48</p>
                          <br />
                          <br />
                          <p>Martinsvej 7, 1 1926 Frederiksberg C</p>
                        </div>
                        <a href="#" class="chat-link">
                          <img
                            class="chat-ikon"
                            src="../public/chatt.svg"
                            alt="Chat Ikon"
                          />
                        </a>
                      </section>
                    </div>
                  </section>
                </footer>
              </div>
            </div>
          </div>
        </main>
      </div>
    </main></body
  >
</html>
