---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <link rel="stylesheet" href="https://use.typekit.net/utn3ymh.css" />
    <title>one_page</title>
  </head>
  <body>
    <header></header>
    <main>
      <!-- toppen -->
      <div class="top">
        <h1>GIRL TALK</h1>

        <h2>MED VIOLA & ANGI</h2>
        <img class="pigerne" src="../pigerne2.svg" alt="" />

        <h3>hør viola og angi's <br /> girltalks her :</h3>
      </div>

      <!-- mobil -->
      <div class="scoll">
        <div class="slid-1">
          <div class="grid_1">
            <div class="item-1">
              <video src="./video/GirlTalk_Billeder.mov" controls autoplay
              ></video>
            </div>
            <div class="item-2"></div>
          </div>
        </div>
        <div class="slid-2">
          <div class="grid_1">
            <div class="item-1">
              <video src="./video/GirlTalk_Alkohol.mov" controls autoplay
              ></video>
            </div>
            <div class="item-2">
              <strong><p>Alcohold</p></strong>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                vitae quas a illo voluptas ex! Saepe laborum eligendi
                repudiandae quidem voluptates cupiditate deleniti a tempore
                pariatur, dolorem nulla accusantium fuga?
              </p>
            </div>
          </div>
        </div>
        <div class="slid-3">
          <div class="grid_1">
            <div class="item-1">
              <video src="./video/GirlTalk_Konfirmation.mov" controls autoplay
              ></video>
            </div>
            <div class="item-2">
              <strong><p>Konfirmation</p></strong>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                vitae quas a illo voluptas ex! Saepe laborum eligendi
                repudiandae quidem voluptates cupiditate deleniti a tempore
                pariatur, dolorem nulla accusantium fuga?
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- facts -->

      <!-- 3 punkter -->

      <!-- hjælp -->
    </main>
    <footer></footer>
  </body>
</html>
